@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
html h1 {
  font-family: "Oswald", sans-serif, bold;
  color: #08264d;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 1px 0px 10px 0px rgba(128, 128, 128, 0.363);
}
#logo {
  position: absolute;
  left: 90px;
  top: 30px;
}

#resplus {
  margin-right: 30px;
  margin-bottom: 10px;
}
#boxtext1,
#boxtext2,
#boxtext3,
#boxtext4 {
  width: 50px;
  position: relative;
  bottom: 3px;
}
#dur1,
#dur2,
#dur3 {
  position: relative;
  bottom: 2px;
  font-family: "Oswald", sans-serif;
}

#hori {
  text-align: center;
  height: 70px;
  width: 220px;
  border: solid 2px #08264d;
  border-radius: 10px;
  padding: 10px;
  grid-area: hori;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-260px);
}
.taux {
  text-align: center;
  height: 70px;
  width: 220px;
  border: solid #08264d 2px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(20px);
  grid-area: taux;
}
.pla {
  text-align: center;
  height: 70px;
  width: 220px;
  border: solid #08264d 2px;
  border-radius: 10px;
  padding: 10px;

  position: absolute;
  top: 185px;
  left: 50%;
  transform: translate(-260px);
  grid-area: pla;
}
#app {
  text-align: center;
  height: 70px;
  width: 220px;
  border: solid #08264d 2px;
  border-radius: 10px;
  padding: 10px;
  grid-area: app;
  position: absolute;
  top: 185px;
  left: 50%;
  transform: translate(20px);
}
#butt {
  background-color: #08264d;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  text-shadow: 1px 0px 10px 0px rgba(128, 128, 128, 0.363);
  grid-area: but;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%);
}

html h3 {
  color: aliceblue;
  font-family: "Oswald", sans-serif, bold;
  vertical-align: text-top;
  text-align: center;
  position: relative;
  bottom: 17px;
}

body {
  background-color: rgb(220, 225, 230);

  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 100px 100px 100px 100px;
  grid-template-areas:
    "intro intro"
    "pla taux"
    "app hori"
    "dure but"
    "result result";
}

.formm {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  padding: 10px;
}
.result {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: "Oswald", sans-serif;
  box-shadow: 1px 0px 10px 0px rgba(128, 128, 128, 0.363);
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #08264d;
  padding-top: 8px;
  padding-left: 40px;
  border-radius: 10px;

  grid-area: result;
}

.intro {
  grid-area: intro;
}

#butt :hover {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

#inv,
#int,
#gain {
  letter-spacing: 1px;
  position: relative;
  left: 40px;
}

#butt :hover {
  color: rgb(146, 134, 118);
}

@media screen and (max-width: 930px) {
  #logo {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  html h1 {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (max-width: 560px) {
  #hori {
    position: absolute;
    top: 350px;
    right: 50%;
    transform: translate(-50%);
  }
  .pla {
    position: absolute;
    top: 150px;
    right: 50%;
    transform: translate(-50%);
  }
  .taux {
    position: absolute;
    top: 250px;
    right: 50%;
    transform: translate(-50%);
  }
  #app {
    position: absolute;
    top: 450px;
    right: 50%;
    transform: translate(-50%);
  }
  #butt {
    position: absolute;
    top: 550px;
    right: 50%;
    transform: translate(-50%);
  }
  .result {
    position: absolute;
    top: 620px;
    right: 50%;
    transform: translate(-50%);
  }
  h1 {
    position: relative;
    left: 10%;
    width: 100%;
  }
}
@media screen and (max-width: 330px) {
}
